body {
  background-color: #323232; /*carbon*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*set the color of the headers h1 through h6 to yellow*/
  color: rgb(255, 196, 0);
}
p {
  /*set the font size and color of all p tags*/
  color: rgb(255, 196, 0);
  /* font-size: 0.6rem; */
}
/*horizontal line dividers▼*/
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*horizontal line dividers▲*/
/*order now button container ▼*/
.order-now-container {
  padding: 1rem; /*add spacing around the order now button*/
}
.order-now {
  font-weight: bold;
  background: linear-gradient(to right, rgb(252, 59, 236), rgb(250, 0, 229));
  border-radius: 1em;
  border-style: none;
  display: flex;
  margin: auto;
  padding-right: 0.8em;
  padding-left: 0.8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  cursor: pointer;
}
/*order now button container▲*/
/*fontawesome icons▼*/
.fontawesome-icons > i {
  /*Icons paper-plane, rocket ,plane*/
  color: rgb(250, 0, 229);
  font-size: 2em;
  padding: 5px;
}
.fontawesome-icons-container {
  display: grid;
  place-items: center;
}
/*fontawesome icons▲*/
/*cards▼*/
.cards {
  /*set the horizontal positioning*/
  /*position cards center*/
  display: flex;
  justify-content: center;
}
.cards-box {
  margin: 10%; /*move the card vertically on the page*/
}
.cards-container {
  /*make the border rounding the corners and setting the container sizing of the cards and distance between each card and padding also set the border color*/
  margin: 0.25em;
  padding: 1em;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(
    to right,
    rgba(48, 48, 48, 0),
    rgb(10, 12, 10)
  );
  border: rgb(250, 0, 229) double 6px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.inside-container {
  /*keep the content within the container neat and contained*/
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
}
.card-header {
  /*set the header of the cards to grid center and a medium size font and shrink the margins to make the containers smaller*/
  display: grid;
  place-content: center;
  font-size: medium;
  margin: 5px 20px;
}
.card-text {
  /*set the font size of all text within the cards and center the text using grid*/
  font-size: 0.7rem;
  display: grid;
  place-content: center;
}
.money-bold > .money {
  /*modify the text of the dollar amount to a bold scale and make it larger and add color along with shrinking the margins*/
  display: grid;
  place-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 2rem;
  color: rgb(250, 0, 229);
}
/*cards▲*/
